.text-container{
    width: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.text-container h1 {
  font-size: 3rem;
  margin-bottom: 30px;
}

.text-container textarea {
  width: 100%;
  field-sizing: content;
  min-height: 10rem;
  resize: none;
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: black;
  overflow: hidden;
}

.save-clear-btn{
    margin: 20px 0;
    text-align: end;
}

.save-clear-btn button:first-child{
    padding: 15px 40px;
    border: 2px solid transparent;
    margin: 0 10px;
    font-size: 1.1rem;
}

.save-clear-btn button:last-child{
    padding: 15px 80px;
    font-weight: bold;
    font-size: 1.5rem;
    border: 2px solid black;
    margin: 0 10px;
}

.save-clear-btn button:last-child:hover{
  color: #5178d8;
  border-color: #5178d8;
}